assets/*
build/*
bin/*
asm/*
expected/*
*.z64
*.ld
*.Identifier
.splat_cache
include/ld_addrs.h
undefined_funcs_auto.txt
undefined_syms_auto.txt
ctx.c

# Tools
tools/n64cksum

# Cache files
__pycache__/
.pyc

# Text editor remnants
.vscode/
.vs/
